* {
    box-sizing: border-box;
  }
  
  body {
    background-color: white;
    font-family: 'Aldrich', sans-serif;
    height: 100vh;
    margin: 0;
    padding: 0;
  }

  #back {
    background-color: #0F4F42;
    border-radius: 40px;
    color: white;
    font-size: 40px;
    margin: 10px 10px;
    margin-right: auto;
  }

  #back:hover {
    color: rgb(0, 184, 0);
  }

  .botonYTitulo {
    display: flex;
    justify-content: space-between;
    padding-bottom: 10px;
  }

   h1 {
    display: flex;
    font-size: 70px;
    margin: 0 auto;
    margin-top: 30px;
  }

  #subtitulo, .inputsInfo {
    margin: 0;
    padding: 0;
    display: block;
  }

  .infoEventoEInputs {
    display: flex;
    justify-content: center;
    font-size: 25px;
    background-color: #0F4F42;
    color: white;
    padding: 7px 0px;
  }

  .infoEvento {
    margin: 0px 150px;
    display: block;
  }

  .contenedorInputs {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 0px;
    border-style: solid;
    border-color: #dadada;
    border-width: 1px;
    background-color: #FAFAFA;
  }

  .inputsInfo {
    display: flex;
    justify-content: space-between;
    padding: 0px 100px;
    margin-top: 0px;
    margin-bottom: 0px;
  }

  .spanYCampoRequer, .campoRequerido {
    font-size: 12px;
    margin-top: 2px;
  }

  .campoRequerido {
    color: #B81C2C;
  }

  #iconoSubirFotos {
    color: #898384;
    font-size: 60px;
  }

  #iconoSubirFotos:hover {
    color: #5a5a5a;
  }

  .subirFotos {
    border-style: solid;
    border-width: 1px;
    border-color: gray;
    display: flex;
    justify-content: center;
    padding: 30px 120px;
  }

  .subirFotos2 {
    border-style: solid;
    border-width: 1px;
    border-color: gray;
    justify-content: center;
    padding: 0px 10px;
  }
  #iconoSubirFotos2 {
    color: #898384;
    font-size: 50px;
  }

  #iconoSubirFotos2:hover {
    color: #5a5a5a;
  }

  .contenedorDeSubirFotos2 {
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding-top: 5px;
  }

  .contenedorDeSubirFotos {
    display: block;
    justify-content: center;
  }

  .publicarProducto {
    background-color: #2B6682;
    width: 129px;
    height: 30px;
    border-radius: 5px;
    border: none;
    font-family: 'Aldrich', sans-serif;
  }

  .boton {
    display: flex;
    justify-content: center;
    margin: 30px 0px;
  }

  .publicarProducto:hover {
    background-color: #3c92b9;
  }

  .tituloDeInput {
    margin-bottom: 2px;
  }

  .inputInfoEvento {
    padding-right: 180px;
    padding-top: 3px;
    display: flex;
    justify-content: left;
  }

  .inputInfoEvento:hover {
    border: 2px solid black;
    outline: none;
  }

  #categoriasAceptadas {
    padding: 2px 0px;
    padding-right: 160px;
  }

  .campo {
    margin: 0px 20px;
  }
