body {
  margin: 0;
}

.barraSuperior {
  background-color: #0F4F42;
  display: flex;
}

.logo {
  height: 100px;
  width: 140px;
  justify-content: left;

}

.lupa {
  border-radius: 28px;
  padding: 8px 55px;
  text-align: left;
  display: flex;
}

.nav_menu {
  font-family: 'Aldrich', sans-serif;
  list-style: none;
  color: white;
  display: flex;
}

.nav_menu a {
  text-decoration: none;
}

/*quitar esto luego para ver*/
.nav_menu li {
  position: relative;
}

nav {
  background-color: #a59a57;
  padding: 1px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu_categ {
  list-style: none;
  display: none;
  position: absolute;
  background-color: #15323f;
  padding: 3px;
}

.menu_categ li {
  padding: 2px 0px;
}

.lista_opci, .lista_categ {
  color: white;
}

.lista_opci {
  margin: 40px;
}

.lista_opci:hover, .lista_categ:hover {
  color: green;
}

.menu_despl:hover .menu_categ {
  display: block;
}