/* 
    here we define all the variables that will be used in the project, such as colors and fonts.
*/

//Colors
$primary_color100: #0b3c32; 
$primary_color50: #16725f;
$primary_color: #16a085;

$secondary_color100: #8B510A;
$secondary_color50: #BF812D;
$secondary_color: #dfc27d;

$third_color100: #1a5276;
$third_color50: #2e86c1;
$third_color: #5dade2 ;


$neutral_white: #fafafa;
$neutral_gray10: #EAEAEA;
$neutral_gray20: #D9D9D9;
$neutral_gray30: #CFCFCF;
$neutral_gray40: #C7C7C7;
$neutral_gray50: #BDBDBD;
$neutral_gray60: #b3b3b3;
$neutral_gray70: #9E9E9E;
$neutral_gray80: #929292;
$neutral_gray90: #585858;
$neutral_black: #1A1A1A;

$error_red00: #D11D1D;
$error_red50: #A91518;
$error_red100: #7F0D12;

$alert_yellow00: #FFEA00;
$alert_yellow50: #E0CE03;
$alert_yellow100: #C2B206;

$confirm_green00: #73F72E;
$confirm_green50: #57C31E;
$confirm_green200: #3C910F;


//Fonts
$primary-font: 'Aldrich', serif;
$second-font: 'Revalia', monospace;